
        p{
            font: weight 400;
        }
        .News-content{
            background-color: #ffff;
            
        }
        #News-content{
            color: rgb(242, 238, 234);
        }
        .itálica{
            font-style: italic;
        }
        h1{
            color: #65b793;
            background-color:rgb(245, 245, 243) 
            font-family: 'helvetica', Times, serif;
            text-align: center;
                }
        h2{
            color: #3804c6;
        }
        h3{
            color: #23a8dc;
        }
        td{
            color: #f54e4e;
        }
        th{
            color: #695b5b;
        }
        img floact{
            float: center;
        }

