
        p{
            font: weight 400;
        }
        .News-content{
            background-color: #ffff;
            
        }
        #News-content{
            color: rgb(242, 238, 234);
        }
        .itálica{
            font-style: helvetica;
        }
        h1{
            color: #f7fafbfc;
            background-color: rgb(46, 46, 45) ;
            font-family: 'helvetica', Times, serif;
            text-align: center;
            border: solid 2px #4d4c4f;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        h2{
            color: #3804c6;
        }
        h3{
            color: #23a8dc;
        }
        td{
            color: #f54e4e;
        }
        th{
            color: #695b5b;
        }
        img floact{
            float: center;
        }        
            #main-photo{
                border: 10px red;
            }
            

